body {
	display: flex;
	font-family: sans-serif;
}

main {
	/* Fixed footer's height */
	margin-bottom: 3rem;
	margin-top: 2rem;
}

header {
	background-color: white;
	padding-top: 3rem;
	position: sticky;
	top: 0;
	/* Debug */
	/* border: 2px solid violet; */
}

header > h1 {
	font-size: x-large;
	font-weight: bold;
}

button {
	border: none;
	background: none;
}

ion-icon {
	/* Bug? */
	visibility: inherit;
}

ion-icon.inbox {
	vertical-align: bottom;
	margin-right: 0.25rem;
	color: #1aa9f8;
}

ion-icon.trashIcon {
	vertical-align: bottom;
	margin-right: 0.25rem;
	color: #c2c6cc;
}

.inputTitle {
	width: 95%;
	margin-left: 1.25rem;
}
