body {
	display: flex;
	font-family: sans-serif;
}

button {
	border: none;
	background: none;
}

ion-icon {
	/* Bug? */
	visibility: inherit;
}

ion-icon.inbox {
	vertical-align: text-top;
	margin-right: 0.25rem;
	color: #1aa9f8;
}

ion-icon.trashIcon {
	vertical-align: text-top;
	margin-right: 0.25rem;
	color: #c2c6cc;
}

.inputTitle {
	width: 95%;
	margin-left: 1.25rem;
}
